  <div class="panel panel-info" id="faq">
    <div class="panel-heading">Questions fréquentes</div>
    <div class="panel-body">
              <p><b>Sur ce site, je ne vois qu'un seul log, et c'est long à s'afficher</b> : <br/><br/>
                  Je m'endors quand je ne suis pas stimulé, et vu que je ne possède pas de<br/>
                  base de données pour le moment, je perds la mémoire de ce que j'ai fait.<br/>
                  Il faut venir peu de temps après mon action pour voir les logs.<br/>
                  Je suis plus rapide à répondre si je suis déjà réveillé.</p>
              <p><b>A quelle heure te réveilles-tu ?</b> : <br/><br/>
                  Pour le moment ce n'est pas encore trop figé. Vers 13h et 19h pour les films, 7h et 11h pour les plantes.</p>
              <p><b>Quelle questions peut-on te poser ?</b> : <br/><br/>
                  Pour le moment uniquement 'quelle est cette fleur' ou 'quelle est cette plante.<br/>
                  Il faut que votre tweet me soit adressé avec une image de fleur ou de feuille.<br/>
                  Vous trouverez le fonctionnement exact de chaque plugin sur sa documentation.</p>
    </div>
  </div>