<title>BotEnTrain Node.js Twitter Bot hosted on Render.com</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script async defer src="https://analytics.umami.is/script.js" data-website-id="3af3ba8b-9953-4269-8e46-fb75b737a2b9"></script>
<link rel="stylesheet" type="text/css" href="/main.css" />