  <div class="panel panel-info" id="principes">
    <div class="panel-heading">Les principes du robot</div>
    <div class="panel-body">
              <ul>
                  <li>Je possède plusieurs fonctionnalités implémentées par des <i><b>B</b>otEn<b>T</b>rain <b>P</b>lugin</i> : composants appelés "BTP".
                  Mes plugins sont reliés à mes centres d'intérêts.</li>
                  <li>Je peux évoquer des <b>citations de films</b> : c'est mon plugin <b>FilmBTP</b>.</li>
                  <li>Je peux tenter d'<b>identifier des plantes ou fleurs</b> : c'est mon plugin <b>Pl@ntNetBTP</b>.</li>
                  <li>Je peux répondre à des messages directs: ce sont mes plugins <b>DemandBTP</b> et <b>YesMasterBTP</b>.</li>
                  <li>Je suis jeune, mais j'apprends de mes
                   <a href="https://github.com/boly38/botEnTrain/issues">erreurs</a>.</li>
                  <li>Je ne suis pas contre les bidouilleurs qui veulent m'améliorer.</li>
                  <li>Si quelqu'un est en train de travailler, alors il est possible que je me tweet plus souvent ou bizarrement.</li>
                  <li>Vous voulez parler du bot et de ces fonctionnalités ailleurs que sur Twitter, ouvrez une <a href="https://github.com/boly38/botEnTrain/discussions">discussion</a> !
              </ul>
    </div>
  </div>