<!DOCTYPE html>
<html>
    <head>
      <%- include ('../partials/header') %>
    </head>

    <body>
<div class="panel panel-default">
  <div class="panel-heading"><a href="https://twitter.com/botEnTrain1">@botEnTrain1</a> <%= version %>
    un bot Twitter
        <a href="https://nodejs.org/">NodeJS</a>
        <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">via Heroku</a></div>
  </div>
  <div class="card">
        <div class="card-body">
              <ul>
                <% news.forEach(function(newsEntry){ %>
                  <li><%- newsEntry  %></li>
                <% }); %>
              </ul>
        </div>
  </div>
</div>


    </body>
</html>