<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <!--
    <a href="/" class="lang-logo">
      <img src="/logo.png">
    </a>
    -->
    <h1>botEnTrain</h1>
    <p>This is a sample Node application deployed to Heroku.
  </div>
</div>


</body>
</html>